{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
	<title>{% block head_title %}Advancing the Blog{% endblock head_title %}</title>

<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Optional theme -->
	<link rel="stylesheet" href='{% static "css/theme.css" %}'>
	
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' >

	<link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">	
	{% block theme %}{% endblock %}		
	<link rel='stylesheet' href='{% static "css/base.css" %}' />

	<!-- Main Quill library -->
	<script src="//cdn.quilljs.com/1.3.4/quill.js"></script>
	<script src="//cdn.quilljs.com/1.3.4/quill.min.js"></script>

	<!-- Theme included stylesheets -->
	<link href="//cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
	<link href="//cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">

	<style>
		{% block style %}{% endblock %}
	</style>

	<div id="fb-root"></div>	
	<script>
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>



	{% block head_extra %} 
	{% endblock %}
</head>

<body>
	<!-- Nav bar -->
	{% include 'navbar.html' %}

	<!-- Message notice -->
	{% include "message_display.html" %}
	<div id='space'><hr><br><br><br></div>
	<div class='container'>
		{% comment %} <ol class='breadcrumb '>
			<li><a href='{% url "home" %}'>Home</a></li>
			<li><a href='{% url "posts:list" %}'>Posts</a></li>
			{% block post_detail_link %}
			{% endblock %}

			{% if not request.user.is_authenticated %}
				<li class='pull-right'><a href='{% url "login" %}'>Login</a></li>
				<li class='pull-right'><a href='{% url "register" %}'>Register</a></li>
			{% else %}
				<li class='pull-right'><a href='{% url "logout" %}'>Logout</a></li>
				<li class='pull-right'>Hello, {{ request.user.username }}</li>
			{% endif %}
		</ol> {% endcomment %}
		
	{% block content %}
		{% comment %} <h1>Hello!</h1>
		<h2><a href='list/'>Click here to show list</a></h2> {% endcomment %}
	{% endblock content %}
	</div>
	{% include 'footer.html' %}
	
	<script src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>

<!-- 	<script type="text/javascript">
		$(document).ready(function(){
			$(".content-markdown").each(function(){
				var content = $(this).text()
				var markedContent = marked(content)
				$(this).html(markedContent)
			})

			$(".post-detail-item img").each(function(){
				$(this).addClass("img-responsive")
			})

			var contentInput = $("#id_content");

			function setContent(value){
				var markedContent = marked(value)
				$("#preview-content").html(markedContent)
				$("#preview-content img").each(function(){
					$(this).addClass("img-responsive")
				})
			}
			setContent(contentInput.val())

			contentInput.keyup(function(){
				var newContent = $(this).val()
				setContent(newContent)
			})

			var titleInput = $("#id_title");

			function setTitle(value){
				$("#preview-title").text(value)
			}
			setTitle(titleInput.val())

			titleInput.keyup(function(){
				var newTitle = $(this).val()
				setTitle(newTitle)
			})
		})

		$(".comment-reply-btn").click(function(event){
			event.preventDefault()
			$(this).parent().next(".comment-reply").fadeToggle()
		})
	</script> -->

</body>
</html>