{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}

{{ form.media }}

{% endblock head_extra %}

{% block content %}

<!-- {{ block.super}} -->
<!-- <div class="col-sm-6">
	<h2>Preview</h2>

	<div class='content-preview>'>
		<h4 id='preview-title'></h4>
		<p id='preview-content'></p> 
	</div>
</div> -->

<div class="col-sm-12">
	<h2>Form </h2>

<!-- 	<form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
{{ form|crispy }}
		<input type='submit' class="btn btn-default" value='Create Post'/>
	</form> -->

	<input type="text" id="title"><br>
	<div id="content"></div>
	<input type="date" id="publish">

	<script>
		$(document).ready(function(){
			$('#submit').on('click', function(){
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie !== '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							// Does this cookie string begin with the name we want?
							if (cookie.substring(0, name.length + 1) === (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				var csrftoken = getCookie('csrftoken');
				var jscontent = content.getContents();
				var strcontent = JSON.stringify(jscontent.ops);

				// content.setContents(JSON.parse(strcontent));

				function csrfSafeMethod(method) {
				    // these HTTP methods do not require CSRF protection
				    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}
				$.ajaxSetup({
				    beforeSend: function(xhr, settings) {
				        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				            xhr.setRequestHeader("X-CSRFToken", csrftoken);
				        }
				    }
				});

				$.ajax({
					url: '../api/posts/create/',
					method: 'POST',
					dataType: "json",
					data: {
						title: $('#title').val(),
						content: strcontent,
						publish: $('#publish').val(),
					},success: function(t) {
						// var pid=t.id;
						console.log(t.id);
						location.href = "../list/"
					},error: function(t) {
						console.log(t);
					}
				})
			})
		})

		var content = new Quill('#content', {
			modules: {
				toolbar: [
					[{ header: [1, 2, false] }],
					['bold', 'italic', 'underline', 'strike'],
					['blockquote', 'image', 'code-block'],
				]
			},
			scrollingContainer: '#scrolling-container',
			placeholder: 'Insert text here',
			theme: 'bubble'
		});
		content.getModule('toolbar').addHandler('image', () => {
			selectLocalImage();
   		});

		/**
		* Step1. select local image
		*
		*/
		function selectLocalImage() {
			var input = document.createElement('input');
			input.setAttribute('type', 'file');
			input.click();

			// Listen upload local image and save to server
			input.onchange = () => {
				const file = input.files[0];

				// file type is only image.
				if (/^image\//.test(file.type)) {
					saveToServer(file);
				} else {
					console.warn('You could only upload images.');
				}
			};
		}

		/**
		* Step2. save to server
		*
		* @param {File} file
		*/
		function saveToServer(file) {
			const fd = new FormData();
			fd.append('image', file);

			console.log(file);

			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');
			var jscontent = content.getContents();
			var strcontent = JSON.stringify(jscontent.ops);

			// content.setContents(JSON.parse(strcontent));

			function csrfSafeMethod(method) {
			    // these HTTP methods do not require CSRF protection
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
			    beforeSend: function(xhr, settings) {
			        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			            xhr.setRequestHeader("X-CSRFToken", csrftoken);
			        }
			    }
			});


			$.ajax({
				url: '../api/posts/image/create/',
				processData: false,
				method: 'POST',
				dataType: "json",
				contentType: false,
				data: fd
				,success: function(t) {
					console.log(t.image);
					insertToEditor(t.image);
				},error: function(t) {
					console.log(t);
				}
			})
		}

		/**
		* Step3. insert image url to rich editor.
		*
		* @param {string} url
		*/
		function insertToEditor(url) {
		// push image url to rich editor.
			const range = content.getSelection();
			content.insertEmbed(range.index, 'image', url);
		}

		// quill editor add image handler
		content.getModule('toolbar').addHandler('image', () => {
			selectLocalImage();
		});
	</script>

	<button id='submit'>Submit</button>
</div>

<script>
</script>

{% endblock%}