{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block theme %}
{{ form.media }}
	<link rel="stylesheet" href='{% static "css/quill.core.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/editor.css" %}'>
	{% comment %} <link rel='stylesheet' href='http://telegra.ph/css/quill.core.min.css' >	 {% endcomment %}
{% endblock %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block content %}


	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="col-sm-10">
				<table id='input'>
					<tr>
						<td colspan="2"><h2>Title: </h2></td>
					</tr>
{% if instance %}
					<tr>
						<td colspan="2">
							<input class="form-control" type="text" id="title" value="{{ instance.title }}">
							<br>
							<p id='titleErr' class='err'>Title is required</p>
						</td>
					</tr>
					<tr>
						<td><h3>Publish Date: </h3></td>
						<td>
							<input type="date" id="publish" value="{{ instance.publish|date:'Y-m-d' }}">
							<br>
						</td>
					</tr>
					<tr>
						<td><p id='pubErr' class='err'>Publish date is required</p></td>
					</tr>
					<tr>
						<td><h3>Feature Image: </h3></td>
						<td>
							<input type="file" name="image" id="image" class="clearablefileinput">
							<br>
						</td>
					</tr>
					<tr>
						<td><p id='featureErr' class='err'>Feature image is required</p></td>
					</tr>
{% else %}
					<tr>
						<td colspan="2">
							<input class="form-control" type="text" id="title">
							<br>
							<p id='titleErr' class='err'>Title is required</p>
						</td>
					</tr>
					<tr>
						<td><h3>Publish Date: </h3></td>
						<td>
							<input type="date" id="publish">
							<br>
						</td>
					</tr>
					<tr>
						<td><p id='pubErr' class='err'>Publish date is required</p></td>
					</tr>
					<tr>
						<td><h3>Feature Image: </h3></td>
						<td>
							<input type="file" name="image" id="image" class="clearablefileinput">
							<br>
						</td>
					</tr>
					<tr>
						<td><p id='featureErr' class='err'>Feature image is required</p></td>
					</tr>
{% endif %}
					<tr>
						<td><button class="btn btn-primary" id='submit'>Submit</button></td>
					</tr>
				</table>
			</div>
		</div>
		
	</div>
	<hr>
	<div id="sidebar-controls" class='col-sm-12' style='display: none'>
<!-- 		<button id="show-controls">show control</i></button> -->
		<span class="controls">
			<button id="divider-button">Divider</button>
			<button id="image-button">Image</button>
			<button id="video-button">Video</button>
		</span>
	</div>
	<div class="row">
		<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
			<p id='contentErr' class='err'>Content is empty</p>
			<article id="editor-container" ></article>
		</div>
	</div>

{% if instance %}
	<script>
		var content = {{ instance.content|safe }};
		var slug = "{{ instance.slug }}";
		var imgUpdate = 1;
	</script>
	<script src='{% static "js/post_form.js" %}'></script>
	<script src='{% static "js/post_update.js" %}'></script>
{% else %}
	<script src='{% static "js/post_form.js" %}'></script>
	<script src='{% static "js/post_create.js" %}'></script>
{% endif %}

{% endblock%}