{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block theme %}
{{ form.media }}
	<link rel="stylesheet" href='{% static "css/quill.core.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/editor.css" %}'>
	{% comment %} <link rel='stylesheet' href='http://telegra.ph/css/quill.core.min.css' >	 {% endcomment %}
{% endblock %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block content %}


	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="col-sm-10">
				<h2>Title </h2>
{% if instance %}
				<input class="form-control" type="text" id="title" value="{{ instance.title }}"><br>
				<input type="date" id="publish" value="{{ instance.publish|date:'Y-m-d' }}">
				<input type="file" name="image" id="image" class="clearablefileinput">
				<img src='{{ instance.image.url }}' class='img-responsive'/>
{% else %}
				<input class="form-control" type="text" id="title"><br>
				<input type="date" id="publish">
				<input type="file" name="image" id="image" class="clearablefileinput">
{% endif %}
			</div>
		</div>
		
	</div>
	<hr>
	<div id="sidebar-controls" class='col-sm-12'>
<!-- 		<button id="show-controls">show control</i></button> -->
		<span class="controls">
			<button id="divider-button">Divider</button>
			<button id="image-button">Image</button>
			<button id="video-button">Video</button>
		</span>
	</div>
	<div class="row">
		<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
			<article id="editor-container" ></article>
		</div>
	</div>
	<div class='col-xs-12 col-sm-8 col-sm-offset-2''>
		<button class="btn btn-primary" id='submit'>Submit</button>
	</div>

{% if instance %}
	<script>
		var content = {{ instance.content|safe }};
		var slug = {{ instance.slug }};
	</script>
	<script src='{% static "js/post_update.js" %}'></script>
{% else %}
	<script src='{% static "js/post_form.js" %}'></script>
{% endif %}

{% endblock%}


