{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title}} | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}

<li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
{% endblock %}

<style>
{% block style %}
	h1{
		color: #008800;
	}
{% endblock %}
</style>

{% block content %}

<div class='col-sm-6 col-sm-offset-3'>
{% if instance.image %}
	<img src='{{ instance.image.url }}' class='img-responsive'/>
{% endif %}

	<h1>{{ title }} <small>{% if instance.draft %} <span style = 'color:red;'>Draft</span>{% endif %}<br>{{ instance.publish }}</small></h1>

	<p>Read time:{% if instance.read_time <= "01" %} <1 minute {% else %} {{ instance.read_time|time:"i" }} minutes {% endif %}</p>

	<p>
		Author: {{ instance.user }}
{% if instance.user.get_full_name %}
		aka {{ instance.user.get_full_name}}
{% endif %}
	</p>

	<p>
		<a href='{{ instance.get_absolute_url }}edit/'>Edit</a>

		<div class="fb-like" data-href="{{ request.build_absolute_url }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

		<br>

<!--  	<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_url }}/">
Facebook
</a>

<a href="https://twitter.com/home?status={{ instance.content|urlify }}%20{{ request.build_absolute_url }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_url }}'>
Google Plus
</a>

<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_url }}&title={{ instance.title }}&summary={{ share_string }}%20{{ request.build_absolute_url }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_url }}&title={{ instance.title }}">Reddit</a> -->
	</p>

	<div class='col-sm-12'>

		<h2>last updated: {{ instance.updated|timesince }}</h2>

		<div id='detail'></div>
<!-- 		<div class='post-detail-item'>{{ instance.get_markdown  }}</div> -->

		Post ID: {{ instance.id }}
		<hr><br>

		<div>
			<p class='lead'>Comments</p>
{% if request.user.is_authenticated %}
			<form method='POST' action='.'>{{ comment_form|crispy }} {% csrf_token %}
				<input type='submit' value='Post comment' class='btn btn-default'> 
			</form>
{% else %}
			<p>You must login to comment on the post</p>
{% endif %}
			<hr>
{% for comment in comments %}

			<blockquote>
				<p>
					<!-- Post name: {{ comment.content_object }}<br> -->{{ comment.content }}
				</p>
				<footer class="blockquote-footer"> {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}<a class= 'comment-reply-btn' href='#'>Reply</a> | <a class= '' href='{{ comment.get_absolute_url }}'>Thread</a></footer>

				<div class='comment-reply'>
{% for child_comment in comment.children %}
					<blockquote>
						<p>
							<!-- Post name: {{ comment.content_object }}<br> -->{{ child_comment.content }}
						</p>
						<footer class="blockquote-footer"> {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
					</blockquote>
{% endfor %}

{% if request.user.is_authenticated %}
					<form method='POST' action='.'>{% csrf_token %}{{ comment_form|crispy }}
						<input type='hidden' name='parent_id' value='{{ comment.id }}'>
						<input type='submit' value='Reply' class='btn btn-default'> 
					</form>
{% else %}
					<p>Login is required</p>
{% endif %}
				</div>
			</blockquote>

{% endfor %}
<!-- 			{{ instance.comment_set.all }} -->
		</div>

		<!-- <div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-numposts="5"></div> -->
	</div>
</div>

<script>
		let Inline = Quill.import('blots/inline');
		let Block = Quill.import('blots/block');
		let BlockEmbed = Quill.import('blots/block/embed');

		class DividerBlot extends BlockEmbed { }
		DividerBlot.blotName = 'divider';
		DividerBlot.tagName = 'hr';

		class ImageBlot extends BlockEmbed {
			static create(value) {
				let node = super.create();
				node.innerHTML = "<img src='"+value.url+"' alt='"+value.alt+"'><br><p style='color: #bbbbbb; font-style: italic;'>"+value.text+"</p><br>";
				return node;
			}
		}
		ImageBlot.blotName = 'imagewithcaption';
		ImageBlot.tagName = 'div';

		class YTVideoBlot extends BlockEmbed {
			static create(url) {
			let node = super.create();
			node.setAttribute('src', url);
			node.setAttribute('frameborder', '0');
			node.setAttribute('allowfullscreen', true);
			return node;
			}

			static formats(node) {
				let format = {};
				if (node.hasAttribute('height')) {
					format.height = node.getAttribute('height');
				}
				if (node.hasAttribute('width')) {
					format.width = node.getAttribute('width');
				}
				return format;
			}

			static value(node) {
				return node.getAttribute('src');
			}

			format(name, value) {
				if (name === 'height' || name === 'width') {
					if (value) {
						this.domNode.setAttribute(name, value);
					} else {
						this.domNode.removeAttribute(name, value);
					}
				} else {
					super.format(name, value);
				}
			}
		}
		YTVideoBlot.blotName = 'ytvideo';
		YTVideoBlot.tagName = 'iframe';

	    class VideoBlot extends BlockEmbed {
	        static create(value) {
	            let node = super.create();
	            node.innerHTML = "<video class='video' preload='auto' autoplay='autoplay' loop='loop' muted='muted'><source src='"+value.url+"'></video><br><p style='color: #bbbbbb; font-style: italic;'>"+value.text+"</p><br>";
	            return node;
	        }
	    }
	    VideoBlot.blotName = 'videowithcaption';
	    VideoBlot.tagName = 'div';

		Quill.register(ImageBlot);
		Quill.register(YTVideoBlot);
		Quill.register(VideoBlot);
		Quill.register(DividerBlot);

	var content = new Quill('#detail', {
		modules: {},
		scrollingContainer: '#scrolling-container',
		theme: 'bubble'
	});

	content.setContents({{ instance.content|safe }});
	content.enable(false);
</script>

{% endblock %}