<div class="col-sm-10">
        {% for post in object_list%}
    
        {% if title == "My Posts" %}
        <div class='col-xs-12{{ col_class_set }}'>
            {% include "posts/post_item_draft.html" with post=post price="True" %}
        {% else %}
        <div class='col-xs-4 {{ col_class_set }}'>
            {% include "posts/post_item.html" with post=post price="True" %}
        {% endif %}
        </div>
        {% if not col_class_set %}
        {% cycle '' '' '</div><div class="row">' %}
        {% endif %}
    {% endfor %}
</div>