.article_content p {
    margin: 0 21px 12px;
    word-wrap: break-word;
}

.article_content .ql-editor {
    text-align: left;
}

#sidebar-controls{
	position: fixed; /* Set the navbar to fixed position */
    bottom: 100px; /* Position the navbar at the top of the page */
    left: -50px;
}